* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gamearea {
    background-image: url(images/snowymountains.png);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position:absolute;
}

.character {
    width: auto;
    height: 120px;
    /* background-color: red; */
    position: relative;
    margin-left: 10%;
    z-index: 100;
    /* animation: jump 0.7s infinite; */
}

.block {
    width: auto;
    height: 40px;
    /* background-color: blue; */
    animation: block 5s infinite linear;
    position: relative;
}

.jump {
    animation: jump 1s infinite linear;
}

.playerinfo {
    position: absolute;
    z-index: 99;

}
.gameover, .gamelost {
    width: 200px;
    height: auto;
    position: absolute;
    border: 2px solid black;
    background-color: beige;
    z-index: 99;
    top: 30%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    min-width: fit-content;
}
.gameover, .gamelost p{
    font-size: 1.2rem;
}

.btn-restart {
    background-color: greenyellow;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 2px 2px 20px 20px;
}

@media screen and (max-width : 720px) {
    .block {
        animation: block 1.5s infinite linear;
    }
}
@media screen and (max-width : 600px) {
    .block {
        animation: block 1.5s infinite linear;
    }
}

@keyframes block {
    0%{right:0%;}
    100%{right: 100%;}
}

@keyframes background {
    0%{right:0%;}
    100%{right: 50%;}
}

@keyframes jump {
    0%{bottom: 0px;}
    10%{bottom: 40px;}
    20%{bottom: 60px;}
    30%{bottom: 80px;}
    40%{bottom: 100px;}
    50%{bottom: 120px;}
    60%{bottom: 100px;}
    70%{bottom: 80px;}
    80%{bottom: 60px;}
    90%{bottom: 40px;}
    100%{bottom: 0px;}
}

